.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100vh - 250px);
    max-width: calc(100vw - 200px);
}

.textWrapper {
    max-width: calc(100vw - 400px);
}

@media screen and (max-width: 768px) {
    .container {
        height: calc(100vh - 420px);
        max-width: calc(100vw - 40px);
    }

    .textWrapper {
        max-width: calc(100vw - 100px);
    }
    
}


